@using Bug_Tracker.Models
@using Bug_Tracker.Helpers
@model IEnumerable<Bug_Tracker.ViewModel.CustomUserData>

@{
    ViewBag.Title = "AssignDeveloper";
}

<h2>Assign Ticket to Developer</h2>

<div class"container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        //if (User.IsInRole("Admin") || (User.IsInRole("PM"))
        //{
        <div class="row">
            <div class="col">
                @Html.DropDownList("TicketId", null, "-Select Ticket-", new { @class = "form-control combo" })
            </div>
            <div class="col">
                @Html.DropDownList("UserId", null, "-Select Developer-", new { @class = "form-control combo" })

            </div>
        </div>

        <br />
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-secondary">Assign Ticket</button>
            </div>
        </div>
    }
</div>
<hr />
<table>
    <tr>
        <th>
            @Html.DisplayName("Full Name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayName("Tickets")
        </th>
    </tr>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => user.FullName)
                </td>
                <td>
                    @Html.DisplayFor(model => user.Email)
                </td>
                <td>
                    @foreach (var ticket in user.Tickets)
                    {
                        <p>
                            @Html.DisplayFor(model => ticket.Title)
                        </p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>




