@model Bug_Tracker.Models.ManageProfile



<style>
    #useravatar {
        height: 80px;
        width: 80px
    }
</style>
<div class="container">
    @*<h2>Upate Profile</h2>*@
    <br />
    @*<div class="col-12">*@
        <div class="row">
            <div class="login-box">
                <div class="login-logo">
                    <img src="@Model.ProfileUser.AvatarPath" id="useravatar"
                         class="" />
                    <b></b>
                </div>
                <!-- /.login-logo -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4" id="createcard">
                <div class="card card-dark">
                    <div class="card-header">
                        <h4 class="card-title m-0">Current Information</h4>
                    </div>
                    <div class="card-body">
                        <p>First Name</p>
                        <div class="form-control">@Model.ProfileUser.FirstName</div>
                        <br/>
                        <p>Last Name</p>
                        <div class="form-control">@Model.ProfileUser.LastName</div>
                        <br/>
                        <p>Email</p>
                        <div class="form-control">@Model.ProfileUser.Email</div>
                        <br/>
                        <p>Current Avatar</p>
                        <div class="form-control" style="height: auto">@Model.ProfileUser.AvatarPath</div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4" id="createcard">
                <div class="card card-dark">
                    <div class="card-header">
                        <h4 class="card-title m-0">Change Password</h4>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.ChangePasswordViewModel.OldPassword, new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.ChangePasswordViewModel.OldPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ChangePasswordViewModel.NewPassword, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.ChangePasswordViewModel.NewPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ChangePasswordViewModel.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.ChangePasswordViewModel.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Change password" class="btn btn-secondary" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4" id="createcard">
                <div class="card card-dark">
                    <div class="card-header">
                        <h4 class="card-title m-0">Change Avatar</h4>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("UpdateAvatar", "Manage", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                <div class="col-3" style="align-self:center">
                                    @Html.TextBoxFor(m => m.Avatar, new { type = "file", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-8">
                                    <input type="submit" value="Update Avatar" class="btn btn-secondary" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
