@{ Layout = null; }
@model Bug_Tracker.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Forgot Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/all.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link href="~/Content/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- overlayScrollbars -->
    <link href="~/Content/OverlayScrollbars.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>
        #phage {
            height: 80px;
            width: 80px
        }
    </style>
</head>


<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <img src="~/Content/AdobeStock_345568402.png" id="phage" class="" /><b>Phage</b>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Forgot your password? Here you can easily make a new password.</p>

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Enter your email below.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @*<div class="form-group">*@
                    @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                    @*</div>*@
                }
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-secondary btn-block">Get new password</button>
                    </div>
                    <!-- /.col -->
                </div>
                <p class="mt-3 mb-1">
                    @Html.ActionLink("Return to log in?", "Login", "Account")
                </p>
                <p class="mb-0">
                    @Html.ActionLink("Register as a new user", "Register", "Account")
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
</body>